<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>datail</title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
	<body>
		<h1><a href="/">hello Spring Boot</a></h1>
		<div class="menu">
			<a href="/save" class="item">글작성</a>
			<a href="/list" class="item">글목록</a>
		</div>
		<div class="container">
			<div class="btmbtn">
				<div>
					<a class="title" th:text="${board.boardTitle}"></a>
				</div>
				<div>
					<button onclick="listReq()">목록</button>
					<button onclick="updateReq()">수정</button>
					<button onclick="deleteReq()">삭제</button>
				</div>
			</div>
			<div>
				<div class="title2" style="display: flex;">
					<div style="flex: 1" class="ti-con2"><a>No.</a><a th:text="${board.id}"></a></div>
					<div style="flex: 2" class="ti-con2"><a>작성자</a><a th:text="${board.BoardWriter}"></a></div>
					<div style="flex: 2" class="ti-con2"><a>작성일</a><a th:text="${board.createdAt}" ></a></div>
					<div style="flex: 1" class="ti-con2"><a>조회수</a><a th:text="${board.boardHits}"></a></div>
				</div>
				<div class="con" th:utext="${board.boardContents}">
				</div>
				<table style="border: none;">	
					<tr th:if="${board.fileAttached == 1}" style="border: none;">
						<td th:each="boardFile : ${boardFileDTOList}" style="border: none;">
							<img alt="" th:src="@{|/upload/${boardFile.storedFileName}|}" width="200" height="200">
						</td>
					</tr>
				</table>
			</div>
			<div class="commContainer" style="width: 800px;">
				<form th:action="@{|/savecomm/${board.id}|}" method="post" name="commentForm">
					<input type="hidden" name="boardId" th:value="${board.id}">
					<table style="width: 800px;">
						<tr style="padding: 5px;">
							<td>작성자</td>
							<td>댓글</td>
							<td>작성일자</td>
						</tr>
						<tr style="padding: 5px;">
							<td style="vertical-align: top; width: 130px;">
								<input id="writer" class="commWrt" type="text" name="commentWriter" />
							</td>
							<td style="vertical-align: middle; width: 546px;">
								<textarea id="contents" class="commCon" name="commentCont" style="resize:none; vertical-align: middle;"></textarea>
							</td>
							<td style="width: 80px;">
								<button class="commBtn" type="button" onclick="saveComment()">작성</button>
							</td>
						</tr>
					</table>
				</form>
				<table th:if="${board.commentAttached >= 1}" style="width: 100%; margin: 10px 0 30px 0;">
					<tr th:each="boardComment : ${boardCommentDTOList}" style="border-top: none;">
						<td style="width: 130px;" th:text="${boardComment.commentWriter}"></td>
						<td style="width: 550px; text-align: left;" th:text="${boardComment.commentCont}"></td>
						<td th:text="${boardComment.createdAt}"></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
	<script th:inline="javascript">
		const listReq = () => {
			location.href = "/list";
		}
		const updateReq = () => {
			location.href = "/update/[[${board.id}]]";
		}
		const deleteReq = () => {
			const deleteconfirm = confirm("해당 게시글을 정말 삭제하시겠습니까?");
			
			if (deleteconfirm) {
				alert("삭제되었습니다.")
				location.href = "/delete/[[${board.id}]]";
			} 
		}
		const saveComment = () => {
			const writer = document.getElementById("writer").value;
			const contents = document.getElementById("contents").value;
			
			if (writer.trim() === "") {
				alert("작성자를 기입해주세요.")
			}
			
			else if (contents.trim() === "") {
				alert("내용을 입력해주세요.")
			}
			
			else {
				const commentConfirm = confirm("해당 댓글은 게시글이 삭제되기 전까지 삭제가 불가능 합니다. 작성하시겠습니까?");
				
				if (commentConfirm) {
					commentForm.submit();
				} else {
					alert("작성을 취소하였습니다.");
				}
			}
		}
	</script>
</html>