<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>main</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<h1><a>hello Spring Boot</a></h1>
		<div class="menu">
			<a href="/save" class="item">글작성</a>
			<a href="/list" class="item">글목록</a>
		</div>
		<div class="container">
			<a style="height: 50px; font-size: 20px;">게시판 만들기 프로젝트</a>
			<a style="font-size: 15px;">▼게시판 기능▼</a>
			<a>1. 게시글 목록조회</a>
			<a>2. 게시글 작성</a>
			<a>3. 게시글 파일첨부</a>
			<a>4. 게시글 조회</a>
			<a>4. 게시글 조회 수 증가</a>
			<a>5. 게시글 수정</a>
			<a>6. 게시글 삭제</a>
			<a>7. 게시글 댓글작성</a>
		</div>
	</body>
</html>