<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>list</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<h1><a href="/">hello Spring Boot</a></h1>
		<div class="menu">
			<a href="/save" class="item">글작성</a>
			<a href="/list" class="item">글목록</a>
		</div>
		<div class="container">
			<div class="btmbtn" style="justify-content: flex-end; text-align: center;">
				<a href="/save" class="list-btn">글쓰기</a>
			</div>
			<div>
				<table class="list-tbl">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성시간</th>
						<th>조회수</th>
					</tr>
					<tr th:each="board : ${boardList}">
						<td th:text="${board.id}"></td>
						<td>
							<a th:text="${board.boardTitle}" th:href="@{|/${board.id}|}"></a>
						</td>
						<td th:text="${board.boardWriter}"></td>
						<td th:text="${board.createdAt}"></td>
						<td th:text="${board.boardHits}"></td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>