<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>update</title>
		<link rel="stylesheet" th:href="@{/css/style.css}" />
	</head>
	<body>
		<h1><a href="/">hello Spring Boot</a></h1>
		<div class="menu">
			<a href="/save" class="item">글작성</a>
			<a href="/list" class="item">글목록</a>
		</div>
		<div class="container">
			<div>
				<form th:action="@{|/update/${board.id}|}" method="post" name="updateForm" enctype="multipart/form-data"> <!-- 추후 사진첨부/다중첨부 기능을 위해 추가 enctype="multipart/form-data" -->
					<input type="hidden" name="id" th:value="${board.id}">
					<div class="form-box">
						<div class="save-title">
							<a >제목 : </a>
							<div class="save-ipt1">
								<input type="text" id="boardTitle" name="boardTitle" th:value="${board.boardTitle}"/>
							</div>
						</div>
						<div class="save-title">
							<div class="save-midtitle">
								<div><a>작성자 : </a></div>
								<div class="save-ipt2">
									<input type="text" id="boardWriter" name="boardWriter" th:value="${board.boardWriter}" readonly />
								</div>
							</div>
							<div class="save-midtitle">
								<div><a>비밀번호 : </a></div>
								<div class="save-ipt2">
									<input type="text" name="boardPass" id="board-pass" />
								</div>
							</div>
						</div>
						<div style="display: flex; height: 450px; align-items: center;">
							<div class="save-contitle"><a>내용 : </a></div>
							<div class="save-cont">
								<textarea id="boardContents" name="boardContents" rows="10" cols="100" th:text="${board.boardContents}"></textarea>
							</div>
						</div>
						<div class="save-title">
							<a>파일 : </a>
							<div class="save-ipt3">
								<input type="file" name="boardFile" multiple/>
							</div>
						</div>
					</div>
					<div>
						<input class="save-btn" type="button" value="수정" onclick="board_update()" />
					</div>
				</form>
			</div>
		</div>
	</body>
	<script th:inline="javascript">
		const board_update = () => {
			const boardPass = document.getElementById("board-pass").value;
			const passDB = [[${board.boardPass}]];
			const boardTitle = document.getElementById("boardTitle").value;
			const boardWriter = document.getElementById("boardWriter").value;
			const boardContents = document.getElementById("boardContents").value;
			
			if (boardTitle === "") {
				alert("제목이 입력되지 않았습니다.");
			}
			
			else if (boardWriter === "") {
				alert("작성자가 입력되지 않았습니다.")
			}
			
			else if (boardPass === "") {
				alert("비밀번호가 입력되지 않았습니다.")
			}
			
			else if (boardContents === "") {
				alert("내용이 입력되지 않았습니다.")
			}
			
			if (boardPass == passDB) {
				updateForm.submit();
			} else {
				alert("비밀번호가 틀립니다!!");
			}
		}
	</script>
</html>